<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
		<meta name="generator" content="Hugo 0.101.0" />
		<link href="CSS/bootstrap.min.css" rel="stylesheet" />
		<link href="CSS/styles.css" rel="stylesheet" />
		<link rel="icon" href="img/Tecnm.jpeg" class="circular" />
		<style>
			body {
			align-items: center;
			padding-top: 40px;
			padding-bottom: 40px;
			background-color: rgba(255, 255, 255, 0.95);
			}
		</style>
		<title>Sistema de Rankeo Estudiantil</title>
		<!-- Custom styles for this template -->
		<link href="CSS/signin.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 shadow-lg p-3 mb-5">
					<div class="card border-bd-primary">
						<div class="card-header btn-bd-primary text-white">Registrar Profesor</div>
						<div class="card-body text-primary">
							<form action="/registrar" method="POST">
								<div class="mb-3 container-fluid">
									<label for="nombre" class="form-label text-black">Nombre(s)</label>
									<input id="nombre" name="nombre" type="text" class="form-control input-lg" aria-describedby="emailHelp" width="30" />
									<label for="Paterno" class="form-label text-black">Apellido Paterno</label>
									<input id="Paterno" name="Paterno" type="text" class="form-control" aria-describedby="emailHelp" />
									<label for="Materno" class="form-label text-black">Apellido Materno</label>
									<input id="Materno" name="Materno" type="text" class="form-control" aria-describedby="emailHelp" />
									<label for="Telefono" class="form-label text-black">Telefono</label>
									<input id="Telefono" name="Telefono" type="text" class="form-control" aria-describedby="emailHelp" />
									<label for="Correo" class="form-label text-black">Correo</label>
									<input id="Correo" name="Correo" type="text" class="form-control" aria-describedby="emailHelp" />
								</div>
								<div class="mb-3 container-fluid card-footer bg-transparent border-bd-primary">
									<label for="Profesor" class="form-label">Tipo de Cuenta</label>
									<input type="text" id="Profesor" name="Profesor" readonly="disabled" class="form-control" placeholder="Profesor" />
									<label for="idusuarios" class="form-label text-black">Usuario o Matricula</label>
									<input id="idusuarios" name="idusuarios" type="text" class="form-control" />
									<label for="contra" class="form-label text-black">Contraseña</label>
									<input id="contra" name="contra" type="password" class="form-control" />
								</div>
								<div class="card-footer bg-transparent border-bd-primary mb-3">
									<center>
										<a href="/" type="button" class="btn btn-secondary">Cancelar</a>
										<button type="submit" class="btn btn-bd-primary">Registrar</button>
									</center>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>