<%- include('navbar.ejs') %>
<% if(usuario){ %>
    <% if(usuario.rol=='Administrador' ){ %>
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-5 flex-container">
            <div class="fw-container  btn-bd-primary">
                <div class="row card border-bd-primary text-black">
                    <div class="col-12 card-header text-center btn-bd-primary text-uppercase text-white">Configuración</div>
                    <div class="col-12 card-body">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="EditarInformacion">
                            <label class="form-check-label" for="EditarInformacion">Editar Configuración</label>
                        </div>
                        <form action="/guardarConfiguracion" method="post" id="form-validation">
                            <div class="container">
                                <div class="row mb-4">
                                    <div class="col-12">
                                        <label for="registroDeMaterias">¿Permitir registro de materias?</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="registroDeMaterias" id="registroDeMaterias1" value="1">
                                            <label class="form-check-label" for="registroDeMaterias1">
                                              Si
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="registroDeMaterias" id="registroDeMaterias2" value="0">
                                            <label class="form-check-label" for="registroDeMaterias2">
                                              No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <select class="form-select" name="periodo" id="selectPeriodo">
                                                <option disabled selected>-- Selecciona un periodo --</option>
                                                <% periodos.forEach((periodo) => { %>
                                                    <option value="<%=periodo.id_periodo%>"><%=periodo.descripcion%></option>
                                                <% }); %>
                                            </select>
                                            <label for="selectPeriodo">Periodo en curso</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-grid gap-2">
                                            <button class="btn btn-primary" type="button" id="btnGuardarInformacion"><i class="fa fa-save"></i> Guardar configuración</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
<% } %>
<script>
    $(document).ready(() => {
        $("#form-validation :input").prop("disabled", true);

        $("#EditarInformacion").on("click", function() {
            let checked = $("#EditarInformacion").prop("checked");
            $("#form-validation :input").prop("disabled", !checked);
            $("#btnGuardarInformacion").prop("disabled", !checked);
        });

        $.ajax({
            url: '/obtenerConfiguracion',
            success: (response) => {
                console.log(response);
                if(response){
                    $(`#selectPeriodo option[value='${response.periodo}']`).prop("selected", true);
                    $(`input[name='registroDeMaterias'][value='${response.registroDeMaterias}']`).prop("checked", true);
                }
            }
        });

        $("#btnGuardarInformacion").on("click", function() {
            Swal.fire({  
                title: '¿Está seguro de guardar la información?',  
                showDenyButton: true,  
                confirmButtonText: `Si, guardar información`,  
                denyButtonText: `No, cancelar operación`,
            }).then((result) => {  
                if (result.isConfirmed) {    
                    $("#form-validation").submit();
                }
            });
        });
    });
</script>