<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Sistema de Rankeo Estudiantil</title>
		<link rel="icon" href="img/Tecnm.jpeg" class="circular" />
		<link rel="stylesheet" src="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
		<link rel="stylesheet" src="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" />
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap5.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
		<!-- <script type="text/javascript" src="js/dashboard.js"></script> -->
		<!-- Custom styles for this template -->
		<link href="CSS/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
		<link href="CSS/dashboard.css" rel="stylesheet" />
		<link href="CSS/styles.css" rel="stylesheet" />
		<style type="text/css">
			input[type="number"]::-webkit-inner-spin-button,
			input[type="number"]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
			}
			input[type="number"] {
			-moz-appearance: textfield;
			}
			input[type="date"]::-webkit-inner-spin-button,
			input[type="date"]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
			}
			input[type="date"] {
			-moz-appearance: textfield;
			}
		</style>
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
		<script src="https://use.fontawesome.com/c9ced652fb.js"></script>
	</head>
	<body background="CSS/img/fondo.jpg">
		<div class="navbar fixed-top navbar-expand-sm navbar-primary bg-primary flex-md-nowrap p-0 shadow-lg">
			<a class="navbar-brand col-lg-2 px-3 fs-6 text-white" href="/"><img class="circular" src="img/Tecnm.jpeg" width="30" height="30" />Ranking Estudiantil</a>
			<button class="navbar-toggler text-white" type="button">
				<span class="fa fa-bars"></span>
			</button>
		</div>
		<div class="container-fluid mb-5">
			<div class="row">
				<nav id="sidebarMenu" class="col-lg-2 d-md-block bg-primary sidebar">
					<div class="position-sticky pt-1 sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="bi bi-person-circle"></i>
									Bienvenido: <% if(usuario) { %>
									<span class="badge bg-success text-uppercase">
									<%= usuario.id_usuario %>
									</span>
									<% }%>
								</a>
								<div class="dropdown-menu dropdown-menu-dark">
									<a class="dropdown-item" href="/config">
										<i class="bi bi-gear-wide-connected"></i>
										Configuración
									</a>
									<a class="dropdown-item" href="logout">
										<i class="bi bi-door-open-fill"></i>
										Cerrar Sesión
									</a>
								</div>
							</li>
							<% if(usuario.rol=="Administrador" ){%>
							<a class="card-footer bg-transparent border-bd"></a>
							<span class="badge bg-success text-center text-white text-uppercase">ADMINISTRACION</span>
							<li class="nav-item mb-2">
								<a class="nav-link text-white" href="/listar_administradores">
									<i class="bi bi-person-workspace"></i> Administradores
								</a>
							</li>
							<li class="nav-item mb-2">
								<a class="nav-link text-white" href="/listar_profesores">
									<i class="bi bi-person-fill"></i>
									Profesores
								</a>
							</li>
							<li class="nav-item mb-2">
								<a class="nav-link text-white" href="/listar_alumnos">
									<i class="fa fa-graduation-cap"></i> Alumnos
								</a>
							</li>
							<li class="nav-item mb-2">
								<a class="nav-link text-white" href="/empresas">
									<i class="fa fa-building"></i> Empresas
								</a>
							</li>
							<li class="nav-item mb-2">
								<a class="nav-link text-white" href="/periodos">
									<i class="fa fa-calendar-check-o"></i> Periodos
								</a>
							</li>
							<li class="nav-item mb-2">
								<a class="nav-link text-white" href="/materias">
									<i class="fa fa-book"></i> Materias
								</a>
							</li>
							<li class="nav-item mb-2">
								<a class="nav-link text-white" href="/carreras">
									<i class="fa fa-user-md"></i> Carreras
								</a>
							</li>
							<li class="nav-item mb-2">
								<a class="nav-link text-white" href="/grupos">
									<i class="fa fa-users"></i> Grupos
								</a>
							</li>
							<li class="nav-item mb-2">
								<a class="nav-link text-white" href="/cursos">
									<i class="bi bi-easel2-fill"></i> Cursos
								</a>
							</li>
							<% }%> <% if(usuario.rol=="Administrador" || usuario.rol=="Profesor" ) {%>
							<a class="card-footer bg-transparent border-bd"></a>
							<span class="badge bg-success text-center text-white text-uppercase">PROFESOR</span>
							<li class="nav-item mb-2">
								<a class="nav-link text-white" href="/teacherProfile?id=<%=usuario.id_usuario%>">
									<i class="fa fa-user"></i> Mi perfil
								</a>
							</li>
							<li class="nav-item mb-2">
								<a class="nav-link text-white" href="/teacherCourses?id=<%=usuario.id_usuario%>">
									<i class="bi bi-easel2-fill"></i> Mis Cursos
								</a>
							</li>
							<% }%> <% if(usuario.rol=="Alumno" ) {%>
							<a class="card-footer bg-transparent border-bd"></a>
							<span class="badge bg-success text-center text-white text-uppercase">Alumno</span>
							<li class="nav-item mb-2">
								<a class="nav-link text-white" href="/#">
									<i class="fa fa-user"></i> Mi perfil
								</a>
							</li>
							<li class="nav-item dropdown mb-2">
								<a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="bi bi-easel2-fill"></i> Cursos</a>
								<ul class="dropdown-menu">
								  	<li><a class="dropdown-item" href="#">Registrar cursos</a></li>
								  	<li><hr class="dropdown-divider"></li>
								  	<li><a class="dropdown-item" href="#">Ver mis Cursos</a></li>
								</ul>
							<% }%>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
		<script>
			$(document).ready(function(){
				$('.navbar-toggler').on('click', function(){
					if ($('.sidebar').css('display') == 'none') {
						$('.sidebar').css('display', 'block')
					}else{
						$('.sidebar').css('display', 'none')
					}
				})
			})
		</script>
	</body>
</html>