<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
		<meta name="generator" content="Hugo 0.101.0">
		<title>Sistema de Rankeo Estudiantil</title>
		<link href="CSS/bootstrap.min.css" rel="stylesheet">
		<link href="CSS/styles.css" rel="stylesheet">
		<link rel="icon" href="img/Tecnm.jpeg" class="circular">
		<!-- Custom styles for this template -->
		<link href="CSS/signin.css" rel="stylesheet">
	</head>
	<body background="CSS/img/fondo.jpg">
		<div class=" bg-primary shadow-lg inicio p-5  ">
			<br>
			<br>
			<br>
			<!--<div class="card border-secondary form-signin w-100 m-auto text-center  p-3 mb-5 container-fluid bg-light formulario "><form id="formLogin" action="/login" method="POST"><img class="mb-4 circular" src="img/Tecnm.jpeg" alt="" width="80" height="80"><h1 class="h3 mb-3 fw-normal">Sistema de Rankeo Estudiantil</h1><div class="form-floating"><input type="text" class="form-control" id="idusuarios" name="idusuarios" placeholder="Usuario"><label for="idusuarios">Usuario</label></div><br><div class="form-floating"><input type="password" class="form-control" id="contra" name="contra" placeholder="Contraseña"><label for="contra">Contraseña</label></div><div class="checkbox mb-3"></div><button class="w-100 btn btn-lg btn-bd-primary" type="submit">Login</button><br><br></form></div></div>-->
			<!--los Errors no afectan funcionamiento y son parte del codigo-->
			<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <% if(alert){%> 
        <script>
          Swal.fire({
            title: '<%= alertTitle%>',
            text: '<%= alertMessage%>',
            icon: '<%= alertIcon%>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= timer %>
          }).then(() => {
			let path = '/<%=ruta%>'
			path = path.replace("&amp;","&")
            window.location = path
          });
        </script>
      <%} %>
	</body>
</html>