<%- include('../_shared/navbar.ejs') %>
<br>
<% if(usuario.rol == "Administrador"){%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 align-items-center mb-5 p-5 ">
	<div class="card border-bd-primary">
		<div class="card-header btn-bd-primary text-white text-uppercase text-center"> Actualizar Alumno</div>
		<div class="card-body text-primary">
			<form class="container" id="form-validation" action="/actualizar_alumnos" method="POST" novalidate>
				<div class="row card-footer bg-transparent border-bd-primary ">
					<div class="row" >
						<input id="id_usuarioA" name="id_usuarioA" type="hidden"  value="<%= alumnoU.id_usuario%>" required minlength="8" maxlength="13">
						<div class="col-md-6 mb-3">
							<label for="id_usuario" class="form-label text-black">Usuario</label>
							<input id="id_usuario" name="id_usuario" type="text" class="form-control"  value="<%= alumnoU.id_usuario%>" required minlength="8" maxlength="13">
							<div class="invalid-feedback">
								Ingrese Numero de control.
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="rol" class="form-label">Tipo de Cuenta</label>
							<input type="text" id="rol" name="rol" value="Alumno" readonly="disabled" required class="form-control" >
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="contra" class="form-label text-black">Contraseña</label>
							<input id="contra" name="contra" type="password" class="form-control" value="<%= contra%>" required >
							<input type="checkbox" onclick="mirarContra()"> Mirar Contraseña
							<div class="invalid-feedback">
								Ingrese Una Contraseña.
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="estatus" class="form-label text-black">Estatus</label>
							<select id="estatus" name="estatus" required  class=" form-control" >
								<option value="<%= alumnoU.estatus%>"><%= alumnoU.estatus%></option>
								<option value="Activo">Activo</option>
								<option value="Desactivado">Desactivado</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row card-footer bg-transparent border-bd-primary ">
					<div class="row">
						<div class="col-md-4 mb-3">
							<label for="nombre" class="form-label text-black">Nombre</label>
							<input id="nombre" name="nombre" type="text" class="form-control "  value="<%=alumnoA.nombre %>" required  >
							<div class="invalid-feedback">
								Ingrese Un Nombre.
							</div>
						</div>
						<div class="col-md-4 mb-3">
							<label for="ap_paterno" class="form-label text-black">Paterno</label>
							<input id="ap_paterno" name="ap_paterno" type="text" class="form-control" value="<%=alumnoA.ap_paterno %>" required >
							<div class="invalid-feedback">
								Ingrese Apellido Paterno
							</div>
						</div>
						<div class="col-md-4 mb-3">
							<label for="ap_materno" class="form-label text-black">Materno</label>
							<input id="ap_materno" name="ap_materno" type="text" class="form-control" required  value="<%=alumnoA.ap_materno %>" >
							<div class="invalid-feedback">
								Ingrese Apellido materno
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="direccion" class="form-label text-black">Direccion</label>
							<input id="direccion" name="direccion" type="text" class="form-control"  required value="<%=alumnoA.direccion %>"   >
							<div class="invalid-feedback">
								Ingrese Una Direccion.
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="id_carrera" class="form-label text-black">Carreras</label>
							<select id="id_carrera" name="id_carrera"  class="form-control" required>
								<option value="<%=alumnoA.id_carrera %>" ><%=alumnoA.carrera %> </option>
								<option value="1">Sistemas</option>
								<option value="2">Industrial</option>
								<option value="3">Mecatronica</option>
								<option value="4">Electronica</option>
								<option value="5">Empresarial</option>
								<option value="6">Contador Publico</option>
							</select>
							<div class="invalid-feedback">
								Ingrese Una carrera.
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="Correo" class="form-label text-black">Correo Institucional</label>
							<input id="Correo" name="Correo" type="email" class="form-control" required  pattern=".+@cuautla.tecnm.mx" placeholder="Ejemplo@cuautla.tecnm.mx" value="<%=alumnoA.correo%>" >
							<div class="invalid-feedback">
								Ingrese Correo Institucional.
							</div>
						</div>
						<div class="col-md-3 mb-3">
							<label for="fecha_nac" class="form-label text-black">Fecha Nacimiento: <a class="text-black"></a></label>
							<input id="fecha_nac" name="fecha_nac" type="datetime" maxlength="10"  pattern="\d{4}-\d{2}-\d{2}" class="form-control"  required value=<%=alumnoA.fecha_nac%>>
							<div class="invalid-feedback">
								Ingrese su Fecha de Nacimiento
							</div>
						</div>
						<div class="col-md-3 mb-3">
							<label for="fecha_ingreso" class="form-label text-black">Fecha Ingreso: <a class="text-black"></a></label>
							<input id="fecha_ingreso" name="fecha_ingreso" type="datetime" maxlength="10"  pattern="\d{4}-\d{2}-\d{2}" class="form-control" required value=<%=alumnoA.fecha_ingreso%>   >
							<div class="invalid-feedback">
								Ingrese su Fecha de Ingreso.
							</div>
						</div>
					</div>
					<div class="card-footer bg-transparent border-bd-primary mb-3 ">
						<center>
							<a href="/listar_alumnos" type="button" class="btn btn-secondary">Cancelar</a>
							<button  type="submit"  class="btn btn-bd-primary"> Actualizar</button>
						</center>
					</div>
			</form>
			<script>
				// Custom JavaScript for Validation
				(function() {
				  "use strict";
				  window.addEventListener("load", function() {
				    var form = document.getElementById("form-validation");
				    form.addEventListener("submit", function(event) {
				      if (form.checkValidity() == false) {
				        event.preventDefault();
				        event.stopPropagation();
				      }
				      form.classList.add("was-validated");
				    }, false);
				  }, false);
				}());
			</script>
			</div>
		</div>
	</div>
	<script src="js/dashboard.js"></script>
	<% } else {%>
	<script>
		location.href ='/';
	</script>
</div>
<%}%>