<%- include('../_shared/navbarAlumno.ejs') %>
    <br>
    <% if(alumno && configuracion.registroDeMaterias){ %>
        <input type="hidden" name="u" id="u" value="<%=usuario.id_usuario%>">
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-5 flex-container">
            <div class="container mt-1">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-column vh-100 overflow-hidden">
                            <div class="container">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="container">
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    <div class="form-floating">
                                                        <select class="form-select" id="selectPeriodo">
                                                            <option selected disabled>-- Seleccione --</option>
                                                            <% periodos.forEach((periodo) => { %>
                                                                <option value="<%=periodo.id_periodo%>"><%=periodo.descripcion%></option>
                                                            <% }); %>
                                                        </select>
                                                        <label for="selectPeriodo">Periodo</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="d-grid gap-2">
                                                        <button class="btn btn-primary" type="button" id="btnBuscar" disabled><i class="fa fa-search"></i> Buscar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-8 ml-2">
                                        <table id="tablaCursos" class="table table-dark">
                                            <thead>
                                                <tr>
                                                    <th>Materia</th>
                                                    <th>Grupo</th>
                                                    <th>Calificación</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function generateStars(c) {
                let rating = $('<div>', { class: 'rating' });
                for (let index = 1; index <= 5; index++) {
                    let a = 0;
                    if (index <= c) {
                        a = 1;
                    }
                    rating.prepend([
                        $('<input>', { type: 'radio', name: "rating", id: `star${index}`, value: `${index}` }),
                        $('<label>', { for: `star${index}`, active: `${a}`, text: '☆' })
                    ]);
                }
                return rating.prop('outerHTML');
            }
            $(document).ready(function(){
                $('#selectPeriodo').on('change', function(){
                    $('#btnBuscar').prop('disabled', false);
                });

                $('#btnBuscar').on('click', function(){
                    let p = $('#selectPeriodo').val();
                    let u = $('#u').val();
                    $.ajax({
                        url: '/obtenerMisCursos',
                        type: 'POST',
                        data: {
                            p: p,
                            u: u
                        },
                        success: function(response){
                            if(response.success){
                                let tbody = $('#tablaCursos tbody');
                                tbody.empty();
                                $.each(response.data, function (i, e){
                                    tbody.append(
                                        $('<tr>').append(() => {
                                            let tds = new Array();
                                            tds.push( $('<td>', { text: e.materia }) );
                                            tds.push( $('<td>', { text: e.grupo }) );
                                            tds.push( $('<td>', { html: generateStars(e.calificacion) }) );
                                            return tds;
                                        })
                                    );
                                });
                            }else{
                                Swal.fire({
                                    title: '¡Ups!',
                                    text: response.msg,
                                    icon: 'error'
                                })
                            }
                        }
                    })
                });
            });
        </script>
    <% } %>