<%- include('../_shared/navbarAlumno.ejs') %>
    <br>
    <% if(alumno && configuracion.registroDeMaterias){ %>
        <input type="hidden" name="carrera" id="carrera" value="<%=alumno.id_carrera%>">
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-5 flex-container">
            <div class="container mt-1">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-column vh-100 overflow-hidden">
                            <div class="row justify-content-center btn-bd-primary text-center text-uppercase mb-3 p-1">
                                <div class="col-10">
                                    <h5 class="display-5">Regístra a tus cursos.</h5>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center">
                                <div class="col-4">
                                    <div class="form-floating mb-3">
                                        <select class="form-control" name="selectPeriodo" id="selectPeriodo" disabled hidden>
                                            <option value="null" disabled selected>-- Seleccione un periodo --</option>
                                            <% periodos.forEach((periodo) => { %>
                                                <option value="<%=periodo.id_periodo%>"><%=periodo.descripcion%></option>
                                            <% }); %>
                                        </select>
                                        <input class="form-control" type="text" name="periodo" id="periodo" value="" placeholder=" " disabled readonly>
                                        <label for="selectPeriodo">Periodo</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-primary" type="button" id="btnBuscarCursos"><i class="fa fa-search"></i> Buscar Cursos</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-responsive" id="listaCursos">
                                        <thead class="bg-primary text-white">
                                            <tr>
                                                <th scope="col">Materia</th>
                                                <th scope="col">Grupo</th>
                                                <th scope="col">Profesor</th>
                                                <th scope="col">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody class="bg-secondary text-white">
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <script>
            function Registrarme(c){
                let a = '<%=usuario.id_usuario%>';
                $.ajax({
                    url: '/registrarAlumnoCurso',
                    type: 'POST',
                    data: {
                        c: c,
                        a: a,
                    },
                    success: function(response){
                        if(response.success){
                            Swal.fire({
                                title: '¡Éxito!',
                                text: "!Te has registrado de forma exitosa al curso! 🥳",
                                icon: 'success'
                            })
                        }else{
                            Swal.fire({
                                title: '¡Ups!',
                                text: response.msg,
                                icon: 'error'
                            })
                        }
                    }
                });
            }
            $(document).ready(function () {
                $("#selectPeriodo option[value='<%=configuracion.periodo%>']").prop("selected", true);
                $("#periodo").val($("#selectPeriodo").find(":selected").text());

                $("#btnBuscarCursos").on("click", function () {
                    let periodo = $("#selectPeriodo").val();
                    let carrera = $("#carrera").val();
                    $.ajax({
                        url: '/obtenerCursosPeriodoCarrera',
                        type: 'POST',
                        data: {
                            periodo: periodo,
                            carrera: carrera
                        },
                        success: function(response){
                            let tbody = $("#listaCursos tbody");
                            response.cursos.forEach(function(e, i){
                                tbody.append(
                                    $("<tr>").append(()=>{
                                        let tds = new Array();
                                        tds.push(
                                            $("<td>", {text: e.materia} )
                                        );
                                        tds.push(
                                            $("<td>", {text: e.grupo} )
                                        );
                                        tds.push(
                                            $("<td>", {text: e.profesor} )
                                        );
                                        tds.push(
                                            $("<button>", { class: "btn btn-success btn-sm bg-success", html: '<i class="bi bi-person-up"></i> Registrarme', onclick: `Registrarme(${e.id_curso});`})
                                        );
                                        return tds;
                                    })
                                );
                            });
                        }
                    });
                })
            });
        </script>
    <% } else { %>
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-5 flex-container">
            <div class="container mt-5">
                <div class="row justify-content-center btn-bd-primary text-center text-uppercase">
                    <div class="col-10">
                        <h5 class="display-5">Actualmente no se pueden registrar materias.</h5>
                    </div>
                </div>
            </div>
        </div>
    <% } %>