<%- include('../_shared/navbar.ejs') %>
<br>
<% if(usuario.rol == "Administrador"){%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 align-items-center mb-5 p-5 ">
	<div class="card border-bd-primary">
		<div class="card-header btn-bd-primary text-white"> Registro de empresa</div>
		<div class="card-body text-primary">
			<form class="container" id="form-validation" action="/registrar_empresa" method="POST" novalidate>
				<div class="row">
					<input type="hidden" name="num_empresa" id="num_empresa" value="0">
					<div class="col-md-3">
						<div class="mb-3">
							<label for="id_usuario" class="form-label text-black">ID (RFC)</label>
							<input type="text" id="id_usuario" name="id_usuario" class="form-control">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3">
							<label for="contra" class="form-label text-black">Contraseña</label>
							<input type="password" id="contra" name="contra" class="form-control">
							<input type="checkbox" onclick="mirarContra()"> Mirar Contraseña
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3">
							<label for="nombre" class="form-label text-black">Nombre</label>
							<input type="text" id="nombre" name="nombre" class="form-control">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3">
							<label for="rol" class="form-label text-black">Rol</label>
							<input type="text" id="rol" name="rol" class="form-control" value="Empresa" readonly>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="mb-3">
							<label for="email" class="form-label text-black">Email</label>
							<input type="email" id="email" name="email" class="form-control">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3">
							<label for="telefono" class="form-label text-black">Teléfono</label>
							<input type="tel" id="telefono" name="telefono" class="form-control">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3">
							<label for="direccion" class="form-label text-black">Dirección</label>
							<input type="text" id="direccion" name="direccion" class="form-control">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3">
							<label for="tipo_sector" class="form-label text-black">Sector</label>
							<select id="tipo_sector" name="tipo_sector" class="form-control">
								<option value="Publico">Publico</option>
								<option value="Privado">Privado</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="mb-3">
							<label for="estatus" class="form-label text-black">Estatus</label>
							<select id="estatus" name="estatus" class="form-control">
								<option value="Activo" selected>Activo</option>
								<option value="Inactivo">Inactivo</option>
							</select>
						</div>
					</div>
				</div>
			</form>
			<div class="row text-center justify-content-around align-items-center my-3">
				<div class="col-md-2">
					<a href="/empresas" type="button" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Volver</a>
				</div>
				<div class="col-md-3">
					<button type="button" id="btnGuardarInformacion" class="btn btn-bd-primary"><i class="bi bi-download"></i> Guardar</button>
				</div>
			</div>
			<script>
				// Custom JavaScript for Validation
				(function () {
				  "use strict";
				  window.addEventListener("load", function () {
				    var form = document.getElementById("form-validation");
				    form.addEventListener("submit", function (event) {
				      if (form.checkValidity() == false) {
				        event.preventDefault();
				        event.stopPropagation();
				      }
				      form.classList.add("was-validated");
				    }, false);
				  }, false);
				}());

				$(document).ready(function(){
					$("#btnGuardarInformacion").on("click", function() {
						Swal.fire({  
							title: '¿Está seguro de guardar la información?',  
							showDenyButton: true,  
							confirmButtonText: `Si, guardar información`,  
							denyButtonText: `No, cancelar operación`,
						}).then((result) => {  
							if (result.isConfirmed) {    
								$("#form-validation").submit();
							}
						});
					});

				});

			</script>
		</div>
	</div>
</div>
<script src="js/dashboard.js"></script>
<% } else {%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5 p-5 ">
	<a href="/" ><img class="img-fluid" src="/img/acciones.webp"></a>
</div>
</div>     
<%}%>