<%- include('../_shared/navbar.ejs') %>
<br>
<% if(usuario.rol == "Administrador" && carrera){%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 align-items-center mb-5 p-5 ">
	<div class="card border-bd-primary">
		<div class="card-header btn-bd-primary text-white"> Detalle carrera</div>
		<div class="card-body text-primary">
			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="EditarInformacion">
				<label class="form-check-label" for="EditarInformacion">Editar Carrera</label>
			</div>
			<form class="container" id="form-validation" action="/actualizar_carrera" method="POST" novalidate>
				<div class="row">
					<div class="col-md-6">
						<div class="mb-3">
							<label for="id_carrera" class="form-label text-black">ID</label>
							<input type="text" id="id_carrera" name="id_carrera" value="<%= carrera.id_carrera %>" class="form-control" required disabled readonly>
						</div>
					</div>
					<div class="col-md-6">
						<div class="mb-3">
							<label for="nombre" class="form-label text-black">Nombre</label>
							<input type="text" id="nombre" name="nombre" value="<%= carrera.nombre %>" class="form-control" required disabled>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="mb-3">
							<label for="coordinador" class="form-label">Coordinador</label>
							<input type="text" class="form-control" name="coordinador" id="coordinador" value="<%= carrera.coordinador %>" required disabled>
						</div>
					</div>
					<div class="col-md-6">
						<div class="mb-3">
							<label for="correo" class="form-label">Correo</label>
							<input type="text" class="form-control" name="correo" id="correo" value="<%= carrera.correo %>" required disabled>
						</div>
					</div>
				</div>
			</form>
			<div class="row text-center justify-content-around align-items-center my-3">
				<div class="col-md-2">
					<a href="/carreras" type="button" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Volver</a>
				</div>
				<div class="col-md-3">
					<button type="button" id="btnGuardarInformacion" class="btn btn-bd-primary" disabled><i class="bi bi-download"></i> Guardar Información</button>
				</div>
			</div>
			<script>
				// Custom JavaScript for Validation
				(function () {
				  "use strict";
				  window.addEventListener("load", function () {
				    var form = document.getElementById("form-validation");
				    form.addEventListener("submit", function (event) {
				      if (form.checkValidity() == false) {
				        event.preventDefault();
				        event.stopPropagation();
				      }
				      form.classList.add("was-validated");
				    }, false);
				  }, false);
				}());

				$(document).ready(function(){
					$("#form-validation :input").prop("disabled", true);

					$("#EditarInformacion").on("click", function() {
						let checked = $("#EditarInformacion").prop("checked");
						$("#form-validation :input").prop("disabled", !checked);
						$("#btnGuardarInformacion").prop("disabled", !checked);
					});

					$("#btnGuardarInformacion").on("click", function() {
						Swal.fire({  
							title: '¿Está seguro de guardar la información?',  
							showDenyButton: true,  
							confirmButtonText: `Si, guardar información`,  
							denyButtonText: `No, cancelar operación`,
						}).then((result) => {  
							if (result.isConfirmed) {    
								$("#form-validation").submit();
							}
						});
					});

				});

			</script>
		</div>
	</div>
</div>
<% } else {%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5 p-5 ">
	<a href="/" ><img class="img-fluid" src="/img/acciones.webp"></a>
</div>
</div>     
<%}%>