.btn-bd-primary{font-weight:600;color: #fff;background-color: #1B396A;border-color: #1B396A;}
.btn-bd-primary:hover,.btn-bd-primary:active{color: #fff; background-color: #1B396A;border-color: #1B396A;}
.btn-bd-primary:focus{box-shadow: 0 0 0 3px rgb(121, 82, 179, 0.25);}

.circular{
    border-radius: 50%;
}
 .formulario{
    border-radius: 5%;
 }
.border-bd-primary{ border-color: #1B396A;}
.border-bd{ border-color: black;}

.bg-dark{
    background-color: #1B396A;border-color: #1B396A;
}
.inicio {
    border-color:#1B396A; clear:both; height:350px;
    }

.contenedor{
    width: 100%;
    height: 100%;
    position: fixed;
    display: inline-flex;
    justify-content: space-around;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
 table{
    border-collapse: collapse;

 }
 td,th{
    padding: 5px 10px;
 }
 main{
    padding: 1em 2em;
 }
 @media (max-width: 30em){
    table{
        width: 100%;
    }
   table tr{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 1em;
    margin-bottom: 1em;
    font-size: x-small;
   }
   table td[data-titulo]{
    display: flex;
   }
   table td,
   table th{
    border: none;
   }
   table td[data-titulo]::before{
    content: attr(data-titulo);
    width: 90px;
   }
   table thead{
    display: none;
   }
 }

 /**Estilos para los div de index*/
 
 .card-counter{
    box-shadow: 2px 2px 10px #000000;
    margin: 5px;
    padding: 20px 20px;
    background-color: #fff;
    height: 120px;
    border-radius: 5px;
    transition: .3s linear all;
  }
  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }
  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
  }  

  .card-counter.sistemas{
    background-color: #0a497b;
    color: #FFF;
  }  

  .card-counter.industrial{
    background-color: #86895d;
    color: #FFF;
  }  
  .card-counter.mecatronica{
    background-color: #CC99CC;
    color: #FFF;
  }

  .card-counter.contadorP{
    background-color: #E9967A;
    color: #FFF;
  }  
  .card-counter.electronica{
    background-color: #26c6da;
    color: #FFF;
  }

  .card-counter.empresarial{
    background-color: #66bb6a;
    color: #FFF;
  }  

 
/*----------------------------*/
  .card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
  }  

  .card-counter.info{
    background-color: #26c6da;
    color: #FFF;
  }  
  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }
  .card-counter .count-numbers{
    position: absolute;
    right: 50px;
    top: 20px;
    font-style: italic;
    font-size: 40px;
    display: contents;
  }
  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: contents;
    font-size: 16px;
  }

