<%- include('../_shared/navbar.ejs') %>
<br>
<% if(usuario.rol == "Administrador"){%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-5 ">
	<div class="card border-bd-primary">
		<div class="card-header btn-bd-primary text-white text-center text-uppercase">Grupos</div>
		<div class="card-body">
			<table class="table" id="listaGrupos">
				<thead class="bg-primary text-white ">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Nombre</th>
						<th scope="col">Carrera</th>
						<th scope="col">Semestre</th>
						<th scope="col">Opciones</th>
					</tr>
				</thead>
				<tbody>
					<% grupos.forEach((grupo, index) => {%>
						<tr>
							<td><%=grupo.id_grupo%></td>
							<td><%=grupo.nombre%></td>
							<td><%=grupo.carrera%></td>
							<td><%=grupo.semestre%></td>
							<td class="text-center">
								<a href="/actualizar_grupo?id=<%=grupo.id_grupo%>" class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Detalle Grupo">
									<i class="bi bi-book-half"></i>
								</a>
								<button id_grupo="<%=grupo.id_grupo%>" class="btn btn-outline-danger btnEliminarGrupo" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Eliminar Grupo">
									<i class="bi bi-journal-x"></i>
								</button>
							</td>
						</tr>
					<% }) %>
			</table>
		</div>
	</div>
</div>
<script src=" https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
<script src="js/dashboard.js"></script>
<script>
	$(document).ready(()=>{
		$(".btnEliminarGrupo").on("click", function() {
			let id_grupo = $(this).attr('id_grupo')
            Swal.fire({  
                title: `¿Está seguro de eliminar la grupo?`,
				text: id_grupo,
                icon: 'warning',
                showDenyButton: true,  
                confirmButtonText: `Si, eliminar.`,  
                denyButtonText: `Cancelar`,
            }).then((result) => {  
                if (result.isConfirmed) {    
					$.ajax({
						url: `/eliminar_grupo`,
						type: 'POST',
						data: {
							id_grupo: id_grupo
						},
						success: (response) => {
							if (response.result) {
								Swal.fire({
									title: "¡Éxito! 💯",
									text: "La grupo se eliminó correctamente.",
									icon: "success",
									showConfirmButton: false,
            						timer: 1000,
								}).then(()=>{
									window.location = '/grupos'
								})
							}else{
								Swal.fire({
									title: "Algo salió mal 😔",
									text: "La grupo no se pudo eliminar correctamente.",
									icon: "danger",
									showConfirmButton: false,
									timer: 1200,
								})
							}
						}
					})
                }
            });
        });
	})
</script>
<% } else {%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5 p-5 ">
	<a href="/" ><img class="img-fluid" src="/img/acciones.webp"></a>
</div>
<%}%>