<%- include('../_shared/navbarAlumno.ejs') %>
    <br>
    <% if(alumno){ %>
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-5 flex-container">
            <div class="fw-container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="container d-flex justify-content-center mt-5">
                            <div class="card text-center mb-5">
                                <div class="circle-image">
                                    <img src="https://i.imgur.com/hczKIze.jpg" width="50">
                                </div>
                                <!-- <span class="dot"></span> -->
                                <span class="name mb-1 fw-500"><%=alumno.nombre%> <%=alumno.ap_paterno%> <%=alumno.ap_materno%></span>
                                <small class="text-black-50"><%=alumno.carrera%></small>
                                <small class="text-black-50 font-weight-bold"><%=alumno.id_usuario%></small>
                                <div class="location mt-4">
                                    <span class="d-block">
                                        <i class="fa fa-map-marker start"></i>
                                        <small class="text-truncate ml-2"><%=alumno.direccion%></small>
                                    </span>
                                </div>
                                <div class="rate bg-primary py-3 text-white mt-3">
                                    <h6 class="mb-0">Promedio general</h6>
                                    <div class="rating"> 
                                        <!-- <input type="radio" name="rating" id="star5" checked><label for="star5">☆</label> -->
                                        <!-- <input type="radio" name="rating" id="star4" checked><label for="star4">☆</label> -->
                                        <!-- <input type="radio" name="rating" id="star3" checked><label for="star3">☆</label> -->
                                        <!-- <input type="radio" name="rating" id="star2" disabled><label for="star2">☆</label> -->
                                        <!-- <input type="radio" name="rating" id="star1" disabled><label for="star1">☆</label> -->
                                        <input type="radio" name="rating" id="star5" value="5"><label for="star5" active='0'>☆</label>
                                        <input type="radio" name="rating" id="star4" value="4"><label for="star4" active='0'>☆</label>
                                        <input type="radio" name="rating" id="star3" value="3"><label for="star3" active='1'>☆</label>
                                        <input type="radio" name="rating" id="star2" value="2"><label for="star2" active='1'>☆</label>
                                        <input type="radio" name="rating" id="star1" value="1"><label for="star1" active='1'>☆</label>
                                    </div>
                                    <!-- <div class="buttons px-4 mt-0">
                                        <button class="btn btn-warning btn-block rating-submit">Submit</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $(".rating-select label").on("click", function() {
                    console.log(this);
                    let inputId = $(this).attr("for");
                    let value = $(`input#${inputId}`).val();
                    console.log(value);
                    for (let i = 1; i <= 5; i++) {
                        if (i <= value) {
                            $(`.rating-select label[for='star${i}']`).attr("active", 1);
                        }else{
                            $(`.rating-select label[for='star${i}']`).attr("active", 0);
                        }
                    }
                });
            });
        </script>
        <% }else{ %>
            xd
            <% }%>