<%- include('../_shared/navbarEmpresa.ejs') %>
<br>
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-12 text-uppercase text-center btn-bd-primary">
            <h1 class="display-5">Consulte el ranking de los alumnos aquí</h1>
        </div>
    </div>
    <div class="row mt-2 justify-content-around">
        <div class="col-4">
            <div class="form-floating mb-3">
                <select name="carrera" id="carrera" class="form-control">
                    <option selected disabled>-- Seleccione una carrera --</option>
                </select>
                <label for="carrera">Carrera</label>
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating mb-3">
                <select name="materia" id="materia" class="form-control">
                    <option selected disabled>-- Seleccione una materia --</option>
                </select>
                <label for="materia">Materia</label>
            </div>
        </div>
    </div>
    <div class="row mt-2 btn-bd-primary">
        <table class="table table-responsive text-white" id="tablaAlumnos">
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Alumno</th>
                    <th>Carrera</th>
                    <th>Materia</th>
                    <th>Puntuación</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    function generateStars(c){
        let rating = $('<div>', { class: 'rating' });
        for (let index = 1;index <= 5;index++)
        {
            let a = 0;
            if (index <= c)
            {
                a = 1;
            }
            rating.prepend([
                $('<input>', { type: 'radio', name: "rating", id: `star${index}`, value: `${index}` }),
                $('<label>', { for: `star${index}`, active: `${a}`, text: '☆' })
            ]);
        }
        return rating.prop('outerHTML');
    }
    $(document).ready(function(){
        $.ajax({
            url: `/api/carreras`,
            success: function(response){
                response.carreras.forEach(carrera => {
                    $('#carrera').append(
                        $('<option>', { value: carrera.id_carrera, text: carrera.nombre })
                    )
                })
            }
        })
        $('#carrera').on('change', function(){
            let c = $(this).val()
            $.ajax({
                url: `/api/materias?c=${c}`,
                success: function(response){
                    $('#materia').find('option').not(':eq(0)').remove()
                    response.materias.forEach(materia => {
                        $('#materia').append(
                            $('<option>', { value: materia.id, text: materia.nombre})
                        )
                    })
                }
            })
        })
        $('#materia').on('change', function(){
            let c = $('#carrera').val()
            let m = $('#materia').val()
            $.ajax({
                url: `/api/obtenerAlumnosCursoEmpresa`,
                type: 'POST',
                data: {
                    c: c,
                    m: m
                },
                success: function(response){
                    if (response.success) {
                        let tbody = $('#tablaAlumnos tbody')
                        tbody.empty()
                        response.data.forEach(alumno => {
                            tbody.append(
                                $('<tr>').append(
                                    [
                                        $('<td>', { text: alumno.matricula }),
                                        $('<td>', { text: `${ alumno.ap_paterno } ${alumno.ap_materno } ${alumno.nombre }` }),
                                        $('<td>', { text: alumno.carrera }),
                                        $('<td>', { text: alumno.materia }),
                                        $('<td>', { html: generateStars(alumno.calificacion) }),
                                    ]
                                )
                            )
                        })
                    }
                }
            })
        })
    })
</script>