<%- include('../_shared/navbar.ejs') %>
<br />
<% if(usuario.rol=="Administrador" || usuario.rol=="Profesor" ) {%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-5">
	<div class="card bg-ligth">
		<% if(usuario.rol=="Administrador" ){%>
		<div class="card-header text-black text-center btn-bd-primary text-uppercase text-white">Numero Cuentas</div>
		<div class="px-md-4 p-2 ms-sm-auto card-header bg-primary container bg-opacity-75">
			<div class="flex-container">
				<div class="col-md-3">
					<div class="card-counter primary">
						<i class="fa fa-cogs"></i>
						<span class="align-right count-numbers">
						<%if(admin){%> <%=admin.Administradores%> <%}else{%> <%= 0%> <%}%>
						</span>
						<span class="count-name">Administradores</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card-counter danger">
						<i class="fa fa-graduation-cap"></i>
						<span class="count-numbers">
						<%if(alumno.Alumnos!==0){%> <%= alumno.Alumnos%> <%}else{%> 0 <%}%>
						</span>
						<span class="count-name">Alumnos</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card-counter success">
						<i class="fa fa-users"></i>
						<span class="count-numbers">
						<%if(profesor.Profesores!=0){%> <%= profesor.Profesores%> <%}else{%> <%= 0 %> <%}%>
						</span>
						<span class="count-name">Profesores</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card-counter info">
						<i class="fa fa-building"></i>
						<span class="count-numbers">
						<%if(empresa.Empresas!=0){%> <%= empresa.Empresas%> <%}else{%> <%= 0 %> <%}%>
						</span>
						<span class="count-name">Empresas</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mb-3"></div>
	<div class="card bg-ligth">
		<% } if(usuario.rol=="Administrador" || usuario.rol=="Profesor" ) {%>
		<div class="card-header text-black text-center btn-bd-primary text-uppercase text-white">Numero Alumnos</div>
		<div class="px-md-4 p-2 ms-sm-auto card-header bg-primary container bg-opacity-75">
			<div class="flex-container">
				<% for(let item in conteoAlumnosCarrera){ %>
					<div class="col-md-3">
						<div class="card-counter">
							<i class="fa fa-users"></i>
							<span class="align-right count-numbers">
								<%= conteoAlumnosCarrera[item].conteo %>
							</span>
							<span class="count-name"><%= conteoAlumnosCarrera[item].carrera %></span>
						</div>
					</div>
				<% } %>
			</div>
		</div>
		<%}%>
	</div>
</div>
<%}%>