<%- include('../_shared/navbar.ejs') %>
<br>
<% if(usuario.rol == "Administrador" && curso){%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 align-items-center mb-5 p-5 ">
	<div class="card border-bd-primary">
		<div class="card-header btn-bd-primary text-white"> Detalle curso</div>
		<div class="card-body text-primary">
			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="EditarInformacion">
				<label class="form-check-label" for="EditarInformacion">Editar curso</label>
			</div>
			<form class="container" id="form-validation" action="/actualizar_curso" method="POST" novalidate>
				<div class="row">
                    <input type="hidden" name="id_curso" id="id_curso" value=<%=curso.id_curso%>>
                    <input type="hidden" name="carrera" id="carrera" value=<%=carrera%>>
                    <input type="hidden" name="estatus" id="estatus" value=1>
                    <input type="hidden" name="eliminado" id="eliminado" value=0>
                    <input type="hidden" name="fechaelimino" id="fechaelimino" value="null">
                    <input type="hidden" name="motivoelimino" id="motivoelimino" value="null">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="periodo" class="form-label text-black">Periodo</label>
                            <select name="periodo" id="periodo" class="form-select">
                                <option selected>-- Seleccione --</option>
                                <% periodos.forEach((periodo) => { %>
                                    <option value=<%=periodo.id_periodo%>><%=periodo.descripcion%></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
					<div class="col-md-3">
						<div class="mb-3">
							<label for="materia" class="form-label text-black">Materia</label>
                            <select name="materia" id="materia" class="form-select">
                                <option selected>-- Seleccione --</option>
                                <% materias.forEach((materia) => { %>
                                    <option value=<%=materia.id%>><%=materia.nombre%></option>
                                <% }); %>
                            </select>
						</div>
					</div>
                    <div class="col-md-3">
						<div class="mb-3">
							<label for="grupo" class="form-label text-black">Grupo</label>
                            <select name="grupo" id="grupo" class="form-select">
                                <option selected>-- Seleccione --</option>
                                <% grupos.forEach((grupo) => { %>
                                    <option value=<%=grupo.id_grupo%>><%=grupo.nombre%></option>
                                <% }); %>
                            </select>
						</div>
					</div>
                    <div class="col-md-3">
						<div class="mb-3">
							<label for="profesor" class="form-label text-black">Profesor</label>
                            <select name="profesor" id="profesor" class="form-select">
                                <option selected>-- Seleccione --</option>
                                <% profesores.forEach((profesor) => { %>
                                    <option value=<%=profesor.num_profesor%>><%= profesor.ap_paterno + " " + profesor.ap_materno + " " + profesor.nombre%></option>
                                <% }); %>
                            </select>
						</div>
					</div>
				</div>
			</form>
			<div class="row text-center justify-content-around align-items-center my-3">
				<div class="col-md-2">
					<a href="/cursos" type="button" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Volver</a>
				</div>
				<div class="col-md-3">
					<button type="button" id="btnGuardarInformacion" class="btn btn-bd-primary" disabled><i class="bi bi-download"></i> Guardar Información</button>
				</div>
			</div>
			<script>
				// Custom JavaScript for Validation
				(function () {
				  "use strict";
				  window.addEventListener("load", function () {
				    var form = document.getElementById("form-validation");
				    form.addEventListener("submit", function (event) {
				      if (form.checkValidity() == false) {
				        event.preventDefault();
				        event.stopPropagation();
				      }
				      form.classList.add("was-validated");
				    }, false);
				  }, false);
				}());

				$(document).ready(function(){
					$("#form-validation :input").prop("disabled", true);

                    $("#periodo option[value='<%=curso.periodo%>']").prop("selected", true);
                    $("#materia option[value='<%=curso.materia%>']").prop("selected", true);
                    $("#grupo option[value='<%=curso.grupo%>']").prop("selected", true);
                    $("#profesor option[value='<%=curso.profesor%>']").prop("selected", true);

					$("#EditarInformacion").on("click", function() {
						let checked = $("#EditarInformacion").prop("checked");
						$("#form-validation :input").prop("disabled", !checked);
						$("#btnGuardarInformacion").prop("disabled", !checked);
					});

					$("#btnGuardarInformacion").on("click", function() {
						Swal.fire({  
							title: '¿Está seguro de guardar la información?',  
							showDenyButton: true,  
							confirmButtonText: `Si, guardar información`,  
							denyButtonText: `No, cancelar operación`,
						}).then((result) => {  
							if (result.isConfirmed) {    
								$("#form-validation").submit();
							}
						});
					});

				});

			</script>
		</div>
	</div>
</div>
<% } else {%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5 p-5 ">
	<a href="/" ><img class="img-fluid" src="/img/acciones.webp"></a>
</div>
</div>     
<%}%>