<%- include('../_shared/navbar.ejs') %>
<br>
<% if(usuario.rol == "Administrador"){%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-5 ">
	<div class="card border-bd-primary">
		<div class="card-header btn-bd-primary text-white text-center text-uppercase">cursos</div>
		<div class="card-body">
			<table class="table" id="listaCursos">
				<thead class="bg-primary text-white ">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Materia</th>
						<th scope="col">Grupo</th>
						<th scope="col">Profesor</th>
						<th scope="col">Periodo</th>
						<th scope="col">Opciones</th>
					</tr>
				</thead>
				<tbody>
					<% cursos.forEach((curso, index) => {%>
						<tr>
							<td><%=curso.id_curso%></td>
							<td><%=curso.materia%></td>
							<td><%=curso.grupo%></td>
							<td><%=curso.profesor%></td>
							<td><%=curso.periodo%></td>
							<td class="text-center">
								<a href="/actualizar_curso?id=<%=curso.id_curso%>&c=<%=curso.carrera%>" class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Detalle curso">
									<i class="bi bi-book-half"></i>
								</a>
								<button id_curso="<%=curso.id_curso%>" class="btn btn-outline-danger btnEliminarCurso" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Eliminar curso">
									<i class="bi bi-journal-x"></i>
								</button>
							</td>
						</tr>
					<% }) %>
			</table>
		</div>
	</div>
</div>
<!-- Modal Carrera -->
<div class="modal fade" id="carreraModal" tabindex="-1" aria-labelledby="carreraModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="carreraModalLabel">¿Para qué carrera?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-floating">
                <select class="form-select" id="carrera">
                    <option value="null" selected disabled>-- Seleccione --</option>
                    <% carreras.forEach((carrera) => { %>
                        <option value="<%=carrera.id_carrera%>"><%=carrera.nombre%></option>
                    <% }); %>
                </select>
                <label for="carrera">Carrera</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="btnNuevoCurso">Continuar <i class="bi bi-chevron-double-right"></i></button>
        </div>
      </div>
    </div>
  </div>
<script src=" https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
<script src="js/dashboard.js"></script>
<script>
	$(document).ready(()=>{
		$(".btnEliminarCurso").on("click", function() {
			let id_curso = $(this).attr('id_curso')
            Swal.fire({  
                title: `¿Está seguro de eliminar el curso?`,
				text: id_curso,
                icon: 'warning',
                showDenyButton: true,  
                confirmButtonText: `Si, eliminar.`,  
                denyButtonText: `Cancelar`,
            }).then((result) => {  
                if (result.isConfirmed) {    
					$.ajax({
						url: `/eliminar_curso`,
						type: 'POST',
						data: {
							id_curso: id_curso
						},
						success: (response) => {
							if (response.result) {
								Swal.fire({
									title: "¡Éxito! 💯",
									text: "El curso se eliminó correctamente.",
									icon: "success",
									showConfirmButton: false,
            						timer: 1000,
								}).then(()=>{
									window.location = '/cursos'
								})
							}else{
								Swal.fire({
									title: "Algo salió mal 😔",
									text: "El curso no se pudo eliminar correctamente.",
									icon: "danger",
									showConfirmButton: false,
									timer: 1200,
								})
							}
						}
					})
                }
            });
        });
        $("#btnNuevoCurso").on("click", function() {
            let c = $("#carrera").val();
            if(c != "null"){
                window.location = `/registrar_curso?c=${c}`;
            }else{
                Swal.fire({
                    title: '¡Atención!',
                    text: 'Para continuar debe seleccionar una carrera.',
                    icon: 'warning',
                });
            }
        });
	})
</script>
<% } else {%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5 p-5 ">
	<a href="/" ><img class="img-fluid" src="/img/acciones.webp"></a>
</div>
<%}%>