<%- include('../_shared/navbar.ejs') %>
<br>
<% if(usuario.rol == "Administrador"){%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-5 flex-container">
	<div class="fw-container btn-bd-primary">
		<div class="row card border-bd-primary ">
			<div class="  card-header  text-black text-center btn-bd-primary text-uppercase text-white">  Lista de administradores</div>
			<div class=" text-black ">
				<table class=" table  text-center table-responsive "  id="listaAdministradores" >
					<thead class="bg-primary text-white  " >
						<tr class="">
							<th scope="col">Matricula</th>
							<th scope="col">Nombre(s)</th>
							<th scope="col">Paterno</th>
							<th scope="col">Materno</th>
							<th scope="col">Correo</th>
							<th scope="col">Rol</th>
							<th scope="col">Acciones</th>
						</tr>
					</thead>
					<tbody class="" >
						<% administradores.forEach(function(administrador,i){%>
						<tr>
							<td data-titulo="Matricula:"><%= administrador.id_usuario, i %></td>
							<td data-titulo="Nombre(s):" ><%= administrador.nombre, i%></td>
							<td data-titulo="Paterno:"><%= administrador.ap_paterno, i%></td>
							<td data-titulo="Materno:"><%= administrador.ap_materno, i%></td>
							<td data-titulo="Correo:"><%= administrador.correo, i%></td>
							<td data-titulo="Rol:"><%= administrador.rol, i%></td>
							<td data-titulo="Acciones" class=" btn-group">
								<a type="button" class="btn btn-outline-success" href="/info_administradores<%= administrador.id_usuario, i %>" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Detalle Administrador">
									<i class="fa fa-eye"></i>
								</a>
								<a type="button" class="btn btn-outline-danger " href="/eliminar_administrador?id=<%= administrador.id_usuario%>" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Eliminar Administrador">
									<i class="fa fa-trash-o"></i>
								</a>
							</td>
						</tr>
						<% }); %>
				</table>
			</div>
		</div>
	</div>
</div>
<script src=" https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
<script src="js/dashboard.js"></script>
<% } else {%>
<script>
	location.href ='/';
</script>
</div>     
<%}%>