<%- include('../_shared/navbar.ejs') %>
<br>
<% if(usuario.rol== "Administrador"){%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 align-items-center mb-5 p-5 ">
	<div class="card border-bd-primary">
		<div class="card-header btn-bd-primary text-white text-center text-uppercase"> Registrar Administradores</div>
		<div class="card-body text-primary">
			<form class="container" id="form-validation" action="/registrar_administradores" method="POST" novalidate>
				<div class="row card-footer bg-transparent border-bd-primary ">
					<div class="row" >
						<div class="col-md-6 mb-3">
							<label for="id_usuario" class="form-label text-black">Usuario</label>
							<input id="id_usuario" name="id_usuario" type="text" class="form-control" required minlength="8" maxlength="13">
							<div class="invalid-feedback">
								Ingrese Numero de control.
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="rol" class="form-label">Tipo de Cuenta</label>
							<input type="text" id="rol" name="rol" value="Administrador" readonly="disabled" required class="form-control" >
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="contra" class="form-label text-black">Contraseña</label>
							<input id="contra" name="contra" type="password" class="form-control" required >
							<input type="checkbox" onclick="mirarContra()"> Mirar Contraseña
							<div class="invalid-feedback">
								Ingrese Una Contraseña.
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="estatus" class="form-label text-black">Estatus</label>
							<input id="estatus" name="estatus" type="text" value="Activo" readonly="disabled" required  class=" form-control" >
						</div>
					</div>
				</div>
				<div class="row card-footer bg-transparent border-bd-primary ">
					<div class="row">
						<div class="col-md-4 mb-3">
							<label for="nombre" class="form-label text-black">Nombre</label>
							<input id="nombre" name="nombre" type="text" class="form-control "   required  >
							<div class="invalid-feedback">
								Ingrese Un Nombre.
							</div>
						</div>
						<div class="col-md-4 mb-3">
							<label for="ap_paterno" class="form-label text-black">Paterno</label>
							<input id="ap_paterno" name="ap_paterno" type="text" class="form-control" required aria-describedby="emailHelp" >
							<div class="invalid-feedback">
								Ingrese Apellido Paterno
							</div>
						</div>
						<div class="col-md-4 mb-3">
							<label for="ap_materno" class="form-label text-black">Materno</label>
							<input id="ap_materno" name="ap_materno" type="text" class="form-control" required aria-describedby="emailHelp" >
							<div class="invalid-feedback">
								Ingrese Apellido materno
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="cedula" class="form-label text-black">Cedula</label>
							<input id="cedula" name="cedula" type="number" min="1" max="9999999999"  class="form-control"  required  >
							<div class="invalid-feedback">
								Ingrese Una Cedula.
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="correo" class="form-label text-black">Correo Institucional</label>
							<input id="correo" name="correo" type="email" class="form-control" required  pattern=".+@cuautla.tecnm.mx" placeholder="Ejemplo@cuautla.tecnm.mx">
							<div class="invalid-feedback">
								Ingrese Correo Institucional.
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="grado_academico" class="form-label text-black">Grado Academico</label>
							<input id="grado_academico" name="grado_academico" type="text" class="form-control" required >
							<div class="invalid-feedback">
								Ingrese Grado Academico.
							</div>
						</div>
						<div class="col-md-3 mb-3">
							<label for="tipo_contrato" class="form-label text-black">Tipo de Contrato</label>
							<select id="tipo_contrato" name="tipo_contrato"  class="form-control"  required  >
								<option value="">Selecciona una Opcion</option>
								<option value="Honorario">Honorario</option>
								<option value="Base">Base</option>
							</select>
							<div class="invalid-feedback">
								Ingrese Tipo de Contrato.
							</div>
						</div>
						<div class="col-md-3 mb-3">
							<label for="tipo_academia" class="form-label text-black">Tipo de Academia</label>
							<select id="tipo_academia" name="tipo_academia"  class="form-control"  required  >
								<option value="">Selecciona una Opcion</option>
								<option value="Basicas">Basicas</option>
								<option value="Especialidad">Especialidad</option>
							</select>
							<div class="invalid-feedback">
								Ingrese Una Academia.
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer bg-transparent border-bd-primary mb-3 ">
					<center>
						<a href="/listar_administradores" type="button" class="btn btn-secondary">Cancelar</a>
						<button  type="submit"  class="btn btn-bd-primary"> Registrar</button>
					</center>
				</div>
			</form>
			<script>
				// Custom JavaScript for Validation
				(function() {
				"use strict";
				window.addEventListener("load", function() {
				var form = document.getElementById("form-validation");
				form.addEventListener("submit", function(event) {
				  if (form.checkValidity() == false) {
				    event.preventDefault();
				    event.stopPropagation();
				  }
				  form.classList.add("was-validated");
				}, false);
				}, false);
				}());
			</script>
		</div>
	</div>
</div>
<% } else {%>
<script>
	location.href ='/';
</script>
</div>     
<%}%>