<%- include('../_shared/navbar.ejs') %>
<br>
<% if(usuario.rol == "Administrador"){%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 align-items-center mb-5 p-5 ">
	<div class="card border-bd-primary">
		<div class="card-header btn-bd-primary text-white">Detalle de materia</div>
		<div class="card-body text-primary">
            <div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="EditarInformacion">
				<label class="form-check-label" for="EditarInformacion">Editar Información</label>
			</div>
			<form class="container" id="form-validation" action="/actualizar_materia" method="POST" novalidate>
				<div class="row card-footer bg-transparent border-bd-primary ">
					<div class="row">
						<div class="col-md-4 mb-3">
							<label for="id_materia" class="form-label text-black">Clave de Materia</label>
							<input type="text" id="id_materia" name="id_materia" class="form-control" required readonly>
						</div>
						<div class="col-md-4 mb-3">
							<label for="nombre_materia" class="form-label text-black">Nombre de la Materia</label>
							<input type="text" id="nombre_materia" name="nombre_materia" class="form-control" required>
						</div>
						<div class="col-md-4 mb-3">
							<label for="carrera" class="form-label text-black">Carrera</label>
							<select name="carrera" id="carrera" class="form-control" required>
								<option selected disabled>Seleccione una carrera</option>
								<% carreras.forEach((carrera, index) => { %>
									<option value="<%=carrera.id_carrera%>"><%=carrera.nombre%></option>
								<% }) %>
							</select>
						</div>
					</div>
				</div>
				<div class="row text-center justify-content-around align-items-center my-3">
					<div class="col-md-2">
						<a href="/materias" type="button" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Volver</a>
					</div>
					<div class="col-md-3">
						<button type="button" id="btnGuardarInformacion" class="btn btn-bd-primary" disabled><i class="bi bi-download"></i> Guardar Información</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
    // Custom JavaScript for Validation
    (function () {
        "use strict";
        window.addEventListener("load", function () {
        var form = document.getElementById("form-validation");
        form.addEventListener("submit", function (event) {
            if (form.checkValidity() == false) {
            event.preventDefault();
            event.stopPropagation();
            }
            form.classList.add("was-validated");
        }, false);
        }, false);
    }());

    $(document).ready(()=>{
        $('#id_materia').val("<%=materia.id_materia%>")
        $('#nombre_materia').val("<%=materia.nombre_materia%>")
        $("#carrera option[value='<%=materia.id_carrera%>']").prop('selected', true)

        $("#form-validation :input").prop("disabled", true);

        $("#EditarInformacion").on("click", function() {
            let checked = $("#EditarInformacion").prop("checked");
            $("#form-validation :input").prop("disabled", !checked);
            $("#btnGuardarInformacion").prop("disabled", !checked);
        });

        $("#btnGuardarInformacion").on("click", function() {
            Swal.fire({  
                title: '¿Está seguro de guardar la información?',
                icon: 'warning',
                showDenyButton: true,  
                confirmButtonText: `Si, guardar información`,  
                denyButtonText: `Cancelar`,
            }).then((result) => {  
                if (result.isConfirmed) {    
                    $("#form-validation").submit();
                }
            });
        });
    })
</script>
<% } else {%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5 p-5 ">
	<a href="/" ><img class="img-fluid" src="/img/acciones.webp"></a>
</div>
<%}%>