<%- include('../_shared/navbar.ejs') %>
<br>
<% if(usuario.rol == "Administrador"){%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 align-items-center mb-5 p-5 ">
	<div class="card border-bd-primary">
		<div class="card-header btn-bd-primary text-white">Registrar materia</div>
		<div class="card-body text-primary">
			<form class="container" id="form-validation" action="/registrar_materia" method="POST" novalidate>
				<div class="row card-footer bg-transparent border-bd-primary ">
					<div class="row">
						<div class="col-md-4 mb-3">
							<label for="id_materia" class="form-label text-black">Clave de Materia</label>
							<input type="text" id="id_materia" name="id_materia" class="form-control" required>
						</div>
						<div class="col-md-4 mb-3">
							<label for="nombre_materia" class="form-label text-black">Nombre de la Materia</label>
							<input type="text" id="nombre_materia" name="nombre_materia" class="form-control" required>
						</div>
						<div class="col-md-4 mb-3">
							<label for="carrera" class="form-label text-black">Carrera</label>
							<select name="carrera" id="carrera" class="form-control" required>
								<option selected disabled>Seleccione una carrera</option>
								<% carreras.forEach((carrera, index) => { %>
									<option value="<%=carrera.id_carrera%>"><%=carrera.nombre%></option>
								<% }) %>
							</select>
						</div>
					</div>
				</div>
				<div class="row text-center justify-content-around align-items-center my-3">
					<div class="col-md-2">
						<a href="/materias" type="button" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Volver</a>
					</div>
					<div class="col-md-3">
						<button type="submit" id="btnGuardarInformacion" class="btn btn-bd-primary"><i class="bi bi-download"></i> Guardar Información</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<% } else {%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5 p-5 ">
	<a href="/" ><img class="img-fluid" src="/img/acciones.webp"></a>
</div>
<%}%>