<%- include('../_shared/navbar.ejs') %>
<br>
<% if(usuario.rol=="Administrador" ){%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 align-items-center mb-5 p-5 ">
	<div class="card border-bd-primary">
		<div class="card-header btn-bd-primary text-white text-center text-uppercase">Detalles del Profesor</div>
		<div class="card-body text-primary">
			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="EditarInformacion">
				<label class="form-check-label" for="EditarInformacion">Editar Información</label>
			</div>
			<form class="container" id="form-validation" action="/actualizar_profesor" method="POST" novalidate>
				<div class="row card-footer bg-transparent border-bd-primary ">
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="id_usuario" class="form-label text-black">Usuario</label>
							<!-- <input hidden id="id_usuario" value="<%= profesor.id_usuario %>" name="id_usuario" type="text" class="form-control" disabled> -->
							<input type="text" id="id_usuario" name="id_usuario" value="<%= profesor.id_usuario %>" class="form-control" minlength="8" maxlength="13" required disabled readonly>
							<div class="invalid-feedback">
								Ingrese Numero de control.
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="rol" class="form-label">Tipo de Cuenta</label>
							<input type="text" id="rol" name="rol" value="Profesor" readonly="disabled" required
								class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="contra" class="form-label text-black">Contraseña</label>
							<input id="contra" value="<%=  profesor.contra %>" name="contra" type="password" class="form-control" required>
							<input type="checkbox" onclick="mirarContra()"> Mirar Contraseña
							<div class="invalid-feedback">
								Ingrese Una Contraseña.
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="estatus" class="form-label text-black">Estatus</label>
							<select name="estatus" id="estatus" class="form-control" required>
								<option selected>Seleccione una opcion</option>
								<option value="Activo">Activo</option>
								<option value="Inactivo">Inactivo</option>
							</select>
							<input id="estatus_val"type="text" value="<%=profesor.estatus%>" hidden disabled readonly>
						</div>
					</div>
				</div>
				<div class="row card-footer bg-transparent border-bd-primary ">
					<div class="row">
						<div class="col-md-4 mb-3">
							<label for="nombre" class="form-label text-black">Nombre</label>
							<input id="nombre" value="<%= profesor.nombre %>" name="nombre" type="text" class="form-control " required>
							<div class="invalid-feedback">
								Ingrese Un Nombre.
							</div>
						</div>
						<div class="col-md-4 mb-3">
							<label for="ap_paterno" class="form-label text-black">Paterno</label>
							<input id="ap_paterno" value="<%= profesor.ap_paterno %>" name="ap_paterno" type="text" class="form-control" required
								aria-describedby="emailHelp">
							<div class="invalid-feedback">
								Ingrese Apellido Paterno
							</div>
						</div>
						<div class="col-md-4 mb-3">
							<label for="ap_materno" class="form-label text-black">Materno</label>
							<input id="ap_materno" value="<%= profesor.ap_materno %>" name="ap_materno" type="text" class="form-control" required
								aria-describedby="emailHelp">
							<div class="invalid-feedback">
								Ingrese Apellido materno
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="cedula" class="form-label text-black">Cedula</label>
							<input id="cedula" value="<%= profesor.cedula %>" name="cedula" type="number" min="1" max="9999999999" class="form-control" required>
							<div class="invalid-feedback">
								Ingrese Una Cedula.
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="correo" class="form-label text-black">Correo Institucional</label>
							<input id="correo" value="<%= profesor.correo %>" name="correo" type="email" class="form-control" required
								pattern=".+@cuautla.tecnm.mx" placeholder="Ejemplo@cuautla.tecnm.mx">
							<div class="invalid-feedback">
								Ingrese correo Institucional.
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="grado_academico" class="form-label text-black">Grado Academico</label>
							<input id="grado_academico" value="<%= profesor.grado_academico %>" name="grado_academico" type="text" class="form-control" required>
							<div class="invalid-feedback">
								Ingrese Grado Academico.
							</div>
						</div>
						<div class="col-md-3 mb-3">
							<label for="tipo_contrato" class="form-label text-black">Tipo de Contrato</label>
							<select id="tipo_contrato" value="<%= profesor.tipo_contrato %>" name="tipo_contrato" class="form-control" required>
								<option value="">Selecciona una Opcion</option>
								<option value="Honorario">Honorario</option>
								<option value="Base">Base</option>
							</select>
							<div class="invalid-feedback">
								Ingrese Tipo de Contrato.
							</div>
						</div>
						<div class="col-md-3 mb-3">
							<label for="tipo_academia" class="form-label text-black">Tipo de Academia</label>
							<select id="tipo_academia" name="tipo_academia" class="form-control" required>
								<option value="">Selecciona una Opcion</option>
								<option value="Basicas">Basicas</option>
								<option value="Especialidad">Especialidad</option>
							</select>
							<div class="invalid-feedback">
								Ingrese Una Academia.
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="row text-center justify-content-around align-items-center my-3">
				<div class="col-md-2">
					<a href="/listar_profesores" type="button" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Volver</a>
				</div>
				<div class="col-md-3">
					<button type="button" id="btnGuardarInformacion" class="btn btn-bd-primary" disabled><i class="bi bi-download"></i> Guardar Información</button>
				</div>
			</div>
			<input id="tipo_contrato_val" value="<%= profesor.tipo_contrato %>" type="text" hidden readonly disabled>
			<input id="tipo_academia_val" value="<%= profesor.tipo_academia %>" type="text" hidden readonly disabled>
			<script>
				// Custom JavaScript for Validation
				(function () {
				  "use strict";
				  window.addEventListener("load", function () {
				    var form = document.getElementById("form-validation");
				    form.addEventListener("submit", function (event) {
				      if (form.checkValidity() == false) {
				        event.preventDefault();
				        event.stopPropagation();
				      }
				      form.classList.add("was-validated");
				    }, false);
				  }, false);
				}());

				$(document).ready(function(){
					let tipo_contrato = $("#tipo_contrato_val").val();
					let tipo_academia = $("#tipo_academia_val").val();
					let estatus = $("#estatus_val").val();
					$(`#tipo_contrato option[value='${tipo_contrato}']`).prop("selected", true);
					$(`#tipo_academia option[value='${tipo_academia}']`).prop("selected", true);
					$(`#estatus option[value='${estatus}']`).prop("selected", true);

					$("#form-validation :input").prop("disabled", true);

					$("#EditarInformacion").on("click", function() {
						let checked = $("#EditarInformacion").prop("checked");
						$("#form-validation :input").prop("disabled", !checked);
						$("#btnGuardarInformacion").prop("disabled", !checked);
					});

					$("#btnGuardarInformacion").on("click", function() {
						Swal.fire({  
							title: '¿Está seguro de guardar la información?',  
							showDenyButton: true,  
							confirmButtonText: `Si, guardar información`,  
							denyButtonText: `No, cancelar operación`,
						}).then((result) => {  
							if (result.isConfirmed) {    
								$("#form-validation").submit();
							}
						});
					});

				});

			</script>
		</div>
	</div>
</div>
<script src="js/dashboard.js"></script>
<% } else {%>
<script>
	location.href = '/';
</script>
</div>
<%}%>