<%- include('../_shared/navbar.ejs') %>
<style>
    .start {

    color: green;
}

.rate {

    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

}



.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
}

.rating-select>label{
    cursor: pointer;
}

.rating-select>label:hover:before,
.rating-select>label:hover~label:before {
    opacity: 1 !important
}

.rating>label::before, .rating-select>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}


.rating-select>label:before {
    opacity: 0
}
.rating>label[active='1']:before {
    opacity: 1
}
.rating-select:hover>input:checked~label:before {
    opacity: 0.4
}

</style>
<br>
<input type="hidden" name="u" id="u" value="<%=usuario.id_usuario%>">
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-5 flex-container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column vh-100 overflow-hidden">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <div class="container">
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <select class="form-select" id="selectPeriodo">
                                                    <option selected disabled>-- Seleccione --</option>
                                                    <% periodos.forEach((periodo)=> { %>
                                                        <option value="<%=periodo.id_periodo%>">
                                                            <%=periodo.descripcion%>
                                                        </option>
                                                    <% }); %>
                                                </select>
                                                <label for="selectPeriodo">Periodo</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="d-grid gap-2">
                                                <button class="btn btn-primary" type="button" id="btnBuscar" disabled><i class="fa fa-search"></i> Buscar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="container">
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <div class="card" style="width: 100%;">
                                                <div class="card-body">
                                                    <h5 class="card-title">Cursos</h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">Cursos asignados en el periodo</h6>
                                                    <table class="table table-dark table-responsive" id="tablaCursos">
                                                        <thead>
                                                            <tr>
                                                                <th>Materia</th>
                                                                <th>Grupo</th>
                                                                <th>Opciones</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card" style="width: 100%;">
                                                <div class="card-body">
                                                    <h5 class="card-title">Alumnos</h5>
                                                    <h6 class="card-subtitle mb-2 text-muted">Alumnos registrados en el curso</h6>
                                                    <table class="table table-dark table-responsive" id="tablaAlumnos">
                                                        <thead>
                                                            <tr>
                                                                <th>Matrícula</th>
                                                                <th>Alumno</th>
                                                                <th>Calificación</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    
    function generateButton(cid) {
        let button = $("<button>", { type: 'button', class: 'btn btn-warning', html: '<i class="fa fa-users"> Ver alumnos</i>', onclick: `VerAlumnos(${cid});` })
        return button.prop("outerHTML");
    }

    function generateStars(cid,m,c)
    {
        let ratingSelect = '';
        if (c == 0) {
            ratingSelect = 'rating-select';
        }

        let rating = $('<div>', { class: `rating ${ratingSelect}`, cid: `${cid}`, m: `${m}` });
        for (let index = 1;index <= 5;index++)
        {
            let a = 0;
            if (index <= c)
            {
                a = 1;
            }
            rating.prepend([
                $('<input>', { type: 'radio', name: "rating", id: `star${index}`, value: `${index}` }),
                $('<label>', { for: `star${index}`, active: `${a}`, text: '☆', onclick: 'AsignarCalificacion(this);' })
            ]);
        }
        return rating.prop('outerHTML');
    }

    function VerAlumnos(cid) {
        $.ajax({
            url: '/obtenerAlumnosCurso',
            type: 'POST',
            data: {
                cid: cid
            },
            success: function(response)
            {
                if (response.success)
                {
                    let tbody = $('#tablaAlumnos tbody');
                    tbody.empty();
                    $.each(response.data, function(i, e)
                    {
                        tbody.append(
                            $('<tr>').append(() =>
                            {
                                let tds = new Array();
                                tds.push($('<td>', { text: e.matricula }));
                                tds.push($('<td>', { text: e.nombre }));
                                tds.push($('<td>', { html: generateStars(cid,e.matricula,e.calificacion) }));
                                return tds;
                            })
                        );
                    });
                } else
                {
                    Swal.fire({
                        title: '¡Ups!',
                        text: response.msg,
                        icon: 'error'
                    })
                }
            }
        });
    }

    function AsignarCalificacion(e)
    {
        if (!e.parentElement.classList.contains('rating-select')) {
            return;
        }
        let label = $(e);
        Swal.fire({
            title: '¿Está seguro de guardar la calificación?',
            text: 'El asentamiento de una calificación es irreversible...',
            icon: 'warning',
            showDenyButton: true,
            confirmButtonText: `Si, guardar calificación`,
            denyButtonText: `No, cancelar.`,
        }).then(function(result)
        {
            if (result.isConfirmed)
            {
                let id = label.attr('for');
                let input = $(`input#${id}`);

                input.prop("checked", true);
                let inputValue = parseInt(input.val());
                for (let i = 1; i <= inputValue; i++) {
                    $(`.rating-select label[for='star${i}']`).attr("active", '1');
                }
                let div = label[0].parentElement;
                let m = $(div).attr("m");
                let cid = $(div).attr("cid");

                $.ajax({
                    url: '/actualizarCalificacionAlumno',
                    type: 'POST',
                    data: {
                        cid: cid,
                        m: m,
                        c: inputValue
                    },
                    success: function(response)
                    {
                        if (response.success)
                        {
                            $(div).removeClass("rating-select");
                            Swal.fire({
                                title: "¡Hecho!",
                                icon: 'success'
                            })
                        } else
                        {
                            Swal.fire({
                                title: "¡Ups!",
                                text: `Ocurrió un problema: ${response.msg}`,
                                icon: 'danger'
                            })
                        }
                    }
                });
            }
        });
    }

    $(document).ready(function ()
    {
        $('#selectPeriodo').on('change', function (){
            $('#btnBuscar').prop('disabled', false);
        });

        $('#btnBuscar').on('click', function (){
            $('#tablaAlumnos tbody').empty()
            let p = $('#selectPeriodo').val();
            let u = $('#u').val();
            $.ajax({
                url: '/obtenerCursosProfesor',
                type: 'POST',
                data: {
                    p: p,
                    u: u
                },
                success: function (response){
                    if (response.success){
                        let tbody = $('#tablaCursos tbody');
                        tbody.empty();
                        $.each(response.data, function (i, e){
                            tbody.append(
                                $('<tr>').append(() => {
                                    let tds = new Array();
                                    tds.push($('<td>', { text: e.materia }));
                                    tds.push($('<td>', { text: e.grupo }));
                                    tds.push($('<td>', { html: generateButton(e.id_curso) }));
                                    return tds;
                                })
                            );
                        });
                    } else {
                        Swal.fire({
                            title: '¡Ups!',
                            text: response.msg,
                            icon: 'error'
                        })
                    }
                }
            })
        });

    });
</script>