<%- include('../_shared/navbar.ejs') %>
<br>
<% if(usuario.rol=="Administrador" ){%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-5 flex-container">
	<div class="fw-container btn-bd-primary">
		<div class="row card border-bd-primary ">
			<div class="card-header text-black text-center btn-bd-primary text-uppercase text-white"> Lista de
				profesores
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<div class="text-black ">
							<table class=" table text-center table-responsive " id="listaProfesores">
								<thead class="bg-primary text-white ">
									<tr class="">
										<th scope="col">Matricula</th>
										<th scope="col">Nombre(s)</th>
										<th scope="col">Paterno</th>
										<th scope="col">Materno</th>
										<th scope="col">Cédula</th>
										<th scope="col">Correo</th>
										<th scope="col">Academia</th>
										<th scope="col">Acciones</th>
									</tr>
								</thead>
								<tbody class="">
									<% profesores.forEach(function(profesor,i){%>
									<tr>
										<td data-titulo="Matricula:">
											<%= profesor.id_usuario, i %>
										</td>
										<td data-titulo="Nombre(s):">
											<%= profesor.nombre, i%>
										</td>
										<td data-titulo="Paterno:">
											<%= profesor.ap_paterno, i%>
										</td>
										<td data-titulo="Materno:">
											<%= profesor.ap_materno, i%>
										</td>
										<td data-titulo="Cedula:">
											<%= profesor.cedula, i%>
										</td>
										<td data-titulo="Correo:">
											<%= profesor.correo, i%>
										</td>
										<td data-titulo="Academia:">
											<%= profesor.tipo_academia, i%>
										</td>
										<td data-titulo="Acciones" class=" btn-group">
											<a type="button" class="btn btn-outline-success" href='/actualizar_profesor?id=<%= profesor.id_usuario %>' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Detalle Profesor">
												<i class="bi bi-person-lines-fill"></i>
											</a>
											<a type="button" class="btn btn-outline-danger" href='/eliminar_profesor?id=<%= profesor.id_usuario %>' data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Eliminar Profesor">
												<i class="bi bi-trash3"></i>
											</a>
										</td>
									</tr>
									<% }); %>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
<script src="js/dashboard.js"></script>
<% } else {%>
<script>
	location.href = '/';
</script>
<%}%>