<%- include('../_shared/navbar.ejs') %>
<br>
<style>
    .card {

    width: 350px;
    border: none;
    box-shadow: 5px 6px 6px 2px #535353;
    border-radius: 12px;
}

.circle-image img {

    border: 6px solid #fff;
    border-radius: 100%;
    padding: 0px;
    top: -28px;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    z-index: 1;
    background: #e7d184;
    cursor: pointer;

}


.dot {
    height: 18px;
    width: 18px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid #fff;
    top: -48px;
    left: 186px;
    z-index: 1000;
}

.name {
    margin-top: -21px;
    font-size: 18px;
}


.fw-500 {
    font-weight: 500 !important;
}


.start {

    color: green;
}

.rate {

    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

}



.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
}

.rating-select>label{
    cursor: pointer;
}

.rating-select>label:hover:before,
.rating-select>label:hover~label:before {
    opacity: 1 !important
}

.rating>label::before, .rating-select>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}


.rating-select>label:before {
    opacity: 0
}
.rating>label[active='1']:before {
    opacity: 1
}
.rating-select:hover>input:checked~label:before {
    opacity: 0.4
}


.buttons {
    top: 36px;
    position: relative;
}


.rating-submit {
    border-radius: 15px;
    color: #fff;
    height: 49px;
}


.rating-submit:hover {

    color: #fff;
}
</style>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 p-5 flex-container">
    <div class="fw-container">
        <div class="row">
            <div class="col-12">
                <div class="container d-flex justify-content-center mt-5">
                    <div class="card text-center mb-5">
                        <div class="circle-image">
                            <img src="https://i.imgur.com/hczKIze.jpg" width="50">
                        </div>
                        <!-- <span class="dot"></span> -->
                        <span class="name mb-1 fw-500">
                            <%=profesor.nombre%> <%=profesor.ap_paterno%> <%=profesor.ap_materno%>
                        </span>
                        <small class="text-black-50">
                            Academia: <%=profesor.tipo_academia%>
                        </small>
                        <small class="text-black-50 font-weight-bold">
                            Cedula: <%=profesor.cedula%>
                        </small>
                        <small class="text-black-50 font-weight-bold">
                            Usuario: <%=profesor.id_usuario%>
                        </small>
                        <div class="location mt-4">
                            <span class="d-block">
                                <i class="fa fa-envelope start"></i>
                                <small class="text-truncate ml-2">
                                    <%=profesor.correo%>
                                </small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>