<%- include('../_shared/navbar.ejs') %>
<br>
<% if(usuario.rol == "Administrador"){%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 align-items-center mb-5 p-5 ">
	<div class="card border-bd-primary">
		<div class="card-header btn-bd-primary text-white"> Registro de periodo</div>
		<div class="card-body text-primary">
			<form class="container" id="form-validation" action="/registrar_periodo" method="POST" novalidate>
				<div class="row">
					<input type="hidden" name="id_periodo" id="id_periodo" value="">
					<input type="hidden" name="estatus" id="estatus" value="1">
					<input type="hidden" name="eliminado" id="eliminado" value="0">
					<div class="col-md-12">
						<div class="mb-3">
							<label for="descripcion" class="form-label text-black">Descripcion</label>
							<input type="text" id="descripcion" name="descripcion" class="form-control">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="mb-3">
							<label for="desde" class="form-label">Desde</label>
							<input type="date" class="form-control" name="desde" id="desde">
						</div>
					</div>
					<div class="col-md-6">
						<div class="mb-3">
							<label for="hasta" class="form-label">Hasta</label>
							<input type="date" class="form-control" name="hasta" id="hasta">
						</div>
					</div>
				</div>
			</form>
			<div class="row text-center justify-content-around align-items-center my-3">
				<div class="col-md-2">
					<a href="/periodos" type="button" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Volver</a>
				</div>
				<div class="col-md-3">
					<button type="button" id="btnGuardarInformacion" class="btn btn-bd-primary"><i class="bi bi-download"></i> Guardar</button>
				</div>
			</div>
			<script>
				// Custom JavaScript for Validation
				(function () {
				  "use strict";
				  window.addEventListener("load", function () {
				    var form = document.getElementById("form-validation");
				    form.addEventListener("submit", function (event) {
				      if (form.checkValidity() == false) {
				        event.preventDefault();
				        event.stopPropagation();
				      }
				      form.classList.add("was-validated");
				    }, false);
				  }, false);
				}());

				$(document).ready(function(){
					$("#btnGuardarInformacion").on("click", function() {
						Swal.fire({  
							title: '¿Está seguro de guardar la información?',  
							showDenyButton: true,  
							confirmButtonText: `Si, guardar información`,  
							denyButtonText: `No, cancelar operación`,
						}).then((result) => {  
							if (result.isConfirmed) {    
								$("#form-validation").submit();
							}
						});
					});

				});

			</script>
		</div>
	</div>
</div>
<% } else {%>
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-5 p-5 ">
	<a href="/" ><img class="img-fluid" src="/img/acciones.webp"></a>
</div>
</div>     
<%}%>